<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="My Test Suite">

  	
  	<listeners> 
		<listener class-name="utility.Listner"/>  
	</listeners>
	
  <test thread-count="5" name="Test123">
  	<parameter name="Username" value="Rizwan@14Aug" />
  	<parameter name="Password" value="Rizwan@14Aug" />

  
  	<groups>
  		<run>
  			<include name="Login"/>
  			<exclude name="ignore"/>
  		</run>
  	</groups>
  	
    <classes>
       <class name="Login"/>
    </classes>
  </test>
  
</suite>
